.categories{

    padding:80px 20px;
    background:#f8fafc;
    text-align:center;

}

.categories h2{

    font-size:38px;
    color:#0f172a;
    margin-bottom:15px;

}

.categories p{

    color:#64748b;
    margin-bottom:50px;
    font-size:18px;

}

.category-grid{

    max-width:1100px;
    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}

.category-card{

    background:white;
    border-radius:18px;
    padding:40px 25px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;
    cursor:pointer;

}

.category-card:hover{

    transform:translateY(-8px);

}

.category-icon{

    font-size:50px;

    margin-bottom:20px;

}

.category-card h3{

    font-size:22px;
    color:#0f172a;

}